<a href="https://colab.research.google.com/github/Dolosojrcpe/CPE-009A-CPE12S2-OOP1/blob/main/MIDTERM_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
week = ["Suday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x== "Thursday":
    break
  print(x) #indent

Suday
Monday
Tuesday
Wednesday

In [42]:
week = ["Suday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x== "Thursday":
    break
print(x) #no indent

Thursday

looping through string

In [2]:
for x in "week":
  print(x)

w
e
e
k

The Range () function

In [31]:
for x in range(6):
  print(x)
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [4]:
for v in range(2,6,2):
  print(v)

2
4

Nested loops

In [6]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

python while loop

In [7]:
#ex5
i = 1
while i < 6:
  print(i)
  i += 1  #1+1 assign operator, print before increment 1 then go ehilr loop again till i<6 then exit

1
2
3
4
5

The Break statement in while loop

The Continue Statement

In [43]:
#Continuous if the statement is true
i = 0
while i <6:
  i += 1
  if i == 3: #skip three then goes back to while loop
    continue #since its true it will continue but it will not print 3
  print(i)

1
2
4
5
6

In [44]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print(i)
  continue

3

In [45]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
   print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [12]:
#FOR +5
hi = ["hello"]
numbers = ["1", "2", "3","4","5","6","7","8","9","10"]
for x in hi:
  for y in numbers:
    print(x,y)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [29]:
#FOR +5
#CREATE A PYTHON PROGRAM THAT DISPLAYS INTEGERS LESS THAN 10 BUT NOT LESS THAN 3
i = 0
while i <9:
  i += 1
  if i >= 3:
    print(i)

3
4
5
6
7
8
9